*{margin: 0;
padding: 0;}

.container{
    margin: 0 auto;
    width: 1430px;
    display: flex;}

.card-area{}

.card-area{background-color: bisque;}

.box{background-color:burlywood;}

.box h1{color: aqua;}

.box img{height: 100px;
width: 260px;}

.box p{font-size: 20px;
    font-family: cursive;}
    @media screen and (max-width: 1300px;)
    {height: 560px;
        
    }
